# IntelliJ IDEA 관련 파일 무시
gen/
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# 데이터베이스 연결 정보 등 로컬 설정 무시
.idea/dataSources.xml
.idea/dataSources/
.idea/dataSources.local.xml

# 빌드 결과물 무시
build/
bin/

# 환경변수
.env

# 마크다운 파일
*.md